table *{
    border: 1px solid black;
    text-align: center;
    width: 500px;
}
td:first-child {
    background-color: aqua;
}
td:last-child {
    background-color: violet;
}
table {
    border-collapse: collapse;
}